
/* Post Meta */
#churchfolio{
    
}

.churchfolio-option{
    border-bottom:1px dashed #C6C6C6;
    padding:10px 0;
}

.churchfolio-option label{
    float:left;
    font-family: Georgia, sans-serif;
    position:relative;
    top:7px;
    width:100px;
}

.churchfolio-option input[type=text], .churchfolio-option textarea{
    float:left;
    margin-bottom:5px;
    padding:7px;
    width:400px;
}

.churchfolio-option kbd{
    background:none;
    clear:both;
    color:#777;
    display:block;
    font-family: Georgia, sans-serif;
    font-style: italic;
    margin-left: 100px;  
}

.churchfolio-option button{
    background-color: #CACACA;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #EBEBEB);
    border:1px solid #E0E0E0;
    border-radius: 7px;
    color:#656565;
    cursor: pointer;
    font-family: Georgia, sans-serif;
    margin-left: 5px;
    padding: 5px 3px;
    position: relative;
    top: 2px;
}

.churchfolio-option button:hover{
    text-shadow: 0px 1px 3px #B5B5B5;
}

.churchfolio-option button:active{
    left:1px;
    text-shadow: 0px 1px 1px #B5B5B5;
    top:3px;
}

#churchfolio .last{
    border-bottom:none;
}

