
/* Post Meta */
.churchfolio-option{
    border-bottom:1px dashed #BBB;
    padding:10px 0;
}

.churchfolio-option label{
    float:left;
    font-family: Georgia, sans-serif;
    position:relative;
    top:7px;
    width:100px;
}

.churchfolio-option input[type=text]{
    float:left;
    margin-bottom:5px;
    padding:7px;
    width:40%;
}

.churchfolio-option kbd{
    background:none;
    clear:both;
    color:#777;
    display:block;
    font-family: Georgia, sans-serif;
    font-style: italic;
    margin-left: 100px;  
}

.churchfolio-option button{
    margin-left:10px;
    position:relative;
    top:4px;
}